body {
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1140px;
  align-items: center;
  margin: 0 auto;
}

.form {
  text-align: center;
  margin-top: 50px;
  width: 200px;
  background: rgba(128, 128, 128, 0.178);
  border-radius: 10px;
}
label {
  color: grey;
  font-size: 20px;
}
input:hover {
  background: burlywood;
}
input::placeholder {
  color: rgb(255, 136, 0);
}
[type='submit'] {
  width: 70px;
}
[type='submit']:active {
  background: yellowgreen;
}
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  width: calc(100% / 4 - 40px);
  min-width: 100px;
  width: 200px;
  border: 1px solid #000;
}
.card img {
  margin-top: auto;
  object-fit: contain;
  
  width: 100px;
  height: 100px;
  /* width: 100%; */
}
